
<h5 style=" text-align: center;">Missing Pets</h5>
<div class="col-lg-l2 col-md-12 col-sm-12 col-xs-12  "  >
    
    <div class="row row-cols-3">
<div *ngFor="let pet of pets trackBy: trackPet; let i = index ">


<div class="  card float-left" style="width: 18rem; ">
     
    <img class="card-img-top rounded  column"  src="{{pet.imagePath}}" alt=" pet image "> 
    <div class="card-body">

     
      <h5 class="fnt-span-head"  >{{pet.name}}</h5>


      <div class="card-text ">
        <span class="fnt-span-color" >Missing Since : </span>
        <span class="fnt-span-color" >{{pet.missingSince}}</span>
      </div>
      <div class="card-text">
        <span class="fnt-span-color" >Owner : </span>
        <span class="fnt-span-color" >{{pet.petsOwner}}</span>
      </div>
    
    <div class="card-text">
        <span class="fnt-span-color" >ContactNumber : </span>
        <span class="fnt-span-color" >{{pet.petsOwnerContactNumber}}</span>
       
    </div>
    <div class="card-text">
      <span class="fnt-span-color"  >Information Provide by User : </span>
      
      <div *ngFor="let uinfo of pet.lstUserInfo trackBy: trackPetInfo; let i = index ">
       
        <span class="fnt-span-color" >{{uinfo.ainfo}}</span>    
      </div>


    </div>
    <div class="card-text">
    <p class="fnt-span-color"> Please do you know about this pets give some 
    <a  style="color:blue;  text-decoration:underline;" id="user_info{{i}}" (click)="toShowUserInfo(i)">Add Info</a>
  </p>
    </div>
  <div *ngIf="toShow[i]" >
    <div class="card card-body">
        

         <div class="card-text">
            <span class="fnt-span-color" >Name : </span>
            <input type="text" class="form-control font-regular font-15 fnt-span-color" [(ngModel)]="pet.aname" id="auser_{{i}}"  name="auser"
         value="" placeholder="">
          </div>

                    
         <div class="card-text">
            <span class="fnt-span-color" >Contact No : </span>
            <input type="text" class="form-control font-regular font-15 fnt-span-color" [(ngModel)]="pet.acontactnumber" id="contactno_{{i}}"  name="contactno_{{i}}"
         value="" placeholder="">
          </div>
          
         <div class="card-text">
            <span class="fnt-span-color" >Pet Info : </span> 
            <input type="text" class="form-control font-regular font-15 fnt-span-color" [(ngModel)]="pet.ainfo" id="petinfo__{{i}}"  name="petinfo__{{i}}"
         value="" placeholder="">
          </div>
         
          <button class="btn btn-primary" type="button" id="userinfo_about_pet_{{i}}" (click)="userInfoAboutPet(i,pet)">Share Info</button> 
    </div>
  </div>
    </div>

  </div>
  </div>  
    </div>


   